<div>
    <h2 translate="shotenwebApp.searchResult.home.title">Search Results</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="search-result.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="shotenwebApp.searchResult.home.createLabel">
                        Create new Search Result
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="shotenwebApp.searchResult.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span translate="shotenwebApp.searchResult.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="searchType"><span translate="shotenwebApp.searchResult.searchType">Search Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="snippet"><span translate="shotenwebApp.searchResult.snippet">Snippet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thumbnail"><span translate="shotenwebApp.searchResult.thumbnail">Thumbnail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="searchResult in vm.searchResults track by searchResult.id">
                    <td><a ui-sref="search-result-detail({id:searchResult.id})">{{searchResult.id}}</a></td>
                    <td>{{searchResult.title}}</td>
                    <td>{{searchResult.url}}</td>
                    <td translate="{{'shotenwebApp.SearchType.' + searchResult.searchType}}">{{searchResult.searchType}}</td>
                    <td>{{searchResult.snippet}}</td>
                    <td>{{searchResult.thumbnail}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="search-result-detail({id:searchResult.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="search-result.edit({id:searchResult.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="search-result.delete({id:searchResult.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
