
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySearchResultLabel" translate="shotenwebApp.searchResult.home.createOrEditLabel">Create or edit a Search Result</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.searchResult.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.searchResult.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shotenwebApp.searchResult.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.searchResult.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shotenwebApp.searchResult.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.searchResult.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shotenwebApp.searchResult.searchType" for="field_searchType">Search Type</label>
            <select class="form-control" name="searchType" ng-model="vm.searchResult.searchType" id="field_searchType">
                <option value="web" translate="shotenwebApp.SearchType.web">web</option>
                <option value="image" translate="shotenwebApp.SearchType.image">image</option>
                <option value="news" translate="shotenwebApp.SearchType.news">news</option>
                <option value="shopping" translate="shotenwebApp.SearchType.shopping">shopping</option>
                <option value="video" translate="shotenwebApp.SearchType.video">video</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shotenwebApp.searchResult.snippet" for="field_snippet">Snippet</label>
            <input type="text" class="form-control" name="snippet" id="field_snippet"
                    ng-model="vm.searchResult.snippet"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shotenwebApp.searchResult.thumbnail" for="field_thumbnail">Thumbnail</label>
            <input type="text" class="form-control" name="thumbnail" id="field_thumbnail"
                    ng-model="vm.searchResult.thumbnail"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
