
<div>
    <h2><span translate="shotenwebApp.searchResult.detail.title">Search Result</span> {{vm.searchResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="shotenwebApp.searchResult.title">Title</span></dt>
        <dd>
            <span>{{vm.searchResult.title}}</span>
        </dd>
        <dt><span translate="shotenwebApp.searchResult.url">Url</span></dt>
        <dd>
            <span>{{vm.searchResult.url}}</span>
        </dd>
        <dt><span translate="shotenwebApp.searchResult.searchType">Search Type</span></dt>
        <dd>
            <span translate="{{'shotenwebApp.SearchType.' + vm.searchResult.searchType}}">{{vm.searchResult.searchType}}</span>
        </dd>
        <dt><span translate="shotenwebApp.searchResult.snippet">Snippet</span></dt>
        <dd>
            <span>{{vm.searchResult.snippet}}</span>
        </dd>
        <dt><span translate="shotenwebApp.searchResult.thumbnail">Thumbnail</span></dt>
        <dd>
            <span>{{vm.searchResult.thumbnail}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
